#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;	
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

.profile {
    min-height: 100vh;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 50%;
    height: auto;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #0062cc;
    color: #ffffff;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.user-details h2 {
    font-size: 32px;
    font-weight: 900;
}

.user-details h3 {
    font-weight: lighter;
    padding-bottom: 10px;
}

.user-details h3::before {
    content: "@ ";
}

.user-details .mobile,
.user-details .blood-group,
.user-details .contribution {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.09em;
}

.profile .nav-tabs{
    padding-top: 50px;
    margin-bottom: 5%;
}

.profile .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}

.profile .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}

.profile p {
    font-weight: 400;
    color: #777;
    font-size: 0.95em;
}
  
.profile .text-inner {
    padding: 10px 30px;
    height: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
  
.profile a {
    color: inherit;
    text-decoration: none;
}
  
.profile h2 {
    line-height: 1.1em;
    color: #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
  
.profile h2:hover {
    color: #555;
}

.profile .title,
.profile .date,
.profile .contributions,
.profile .love,
.profile .wow,
.profile .haha,
.profile .angry,
.profile .comments {
  font-size: 0.8em;
  font-weight: 400;
  color: #999;
}

.profile .title i,
.profile .date i,
.profile .contributions,
.profile .love,
.profile .wow,
.profile .haha,
.profile .angry,
.profile .comments i {
  margin-right: 5px;
}

.profile .title::after,
.profile .date::after,
.profile .contributions::after,
.profile .love::after,
.profile .wow::after,
.profile .haha::after,
.profile .angry::after,
.profile .comments::after {
  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;
}

.profile .comments::after {
  display: none;
}

.profile .post-header {
    margin-bottom: 10px;
}
  
.profile .post-footer {
    margin-top: 10px;
}

.profile-tab label{
    font-weight: 600;
}

.reaction-table {
    width: 100%;
}

.reaction_table td {
    width: 20%;
    text-align: center;
}

.reaction_holder {
    margin: 8px;
    padding: 16px 0 2px 0;
    border-radius: 8px;
    transition: all .2s;
    cursor: pointer;
}

.reaction_holder:hover, .reaction_holder.active {
    transform: scale(1.1);
}

.reaction_table td i {
    font-size: 1.8em;
}

.reaction_counter {
    font-size: .9em;
}

.reaction_name {
    font-size: .95em;
    margin-top: 14px;
    margin-bottom: 1rem;
}

.reaction_holder[data-name="helpful"] {
    color: #317cc8;
}

.reaction_holder[data-name="unhelpful"] {
    color: #2d3338;
}

.reaction_holder[data-name="Love"] {
    color: #d3619f;
}

.reaction_holder[data-name="Wow"] {
    color: #d2d433;
}

.reaction_holder[data-name="Haha"] {
    color: #73f707;
}

.reaction_holder[data-name="Angry"] {
    color: #ff0000;
}

.reaction_holder[data-name="helpful"].active {
    box-shadow: 0 1px 5px 0 rgba(0, 17, 255, 0.5);
}

.reaction_holder[data-name="unhelpful"].active {
    box-shadow: 0 1px 5px 0 rgba(32, 28, 30, 0.5);
}

.reaction_holder[data-name="Love"].active {
    box-shadow: 0 1px 5px 0 rgba(255, 0, 221, 0.5);
}

.reaction_holder[data-name="Wow"].active {
    box-shadow: 0 1px 5px 0 rgba(238, 255, 0, 0.5);
}

.reaction_holder[data-name="Haha"].active {
    box-shadow: 0 1px 5px 0 rgba(9, 255, 1, 0.5);
}

.reaction_holder[data-name="Angry"].active {
    box-shadow: 0 1px 5px 0 rgba(255, 0, 0, 0.5);
}

@media only screen and (max-width: 1023px) {
    .reaction_holder {
        margin: 4px;
        padding: 8px 0 2px 0;
        border-radius: 6px;
    }

    .reaction_table td i {
        font-size: 1.4em;
    }

    .reaction_name {
        font-size: .8em;
    }
}

@media (max-width: 767px) {
    .user-details {
        text-align: center;
        padding-top: 15px;
        margin-top: 15px;
    }
}
